<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public:header2" />
</head>
<body class="blackbg">
    <div id="container" class="logbg">
        <div class="log_title">
            <span class="back"><a href="javascript:history.go(-1)"></a></span>
            充提品种
        </div>
        <span class="layout">
            <a href="{:U('Finance/myzr_coin_list')}">品种充值</a>
        </span>
        <span class="layout">
            <a href="{:U('Finance/myzc_coin_list')}">品种提现</a>
        </span>
    </div>
<include file="Public:footer" />
</body>
</html>