<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<title>{:L('帮助中心')}</title>
	<meta name="Keywords" content="{:L(C('web_keywords'))}">
	<meta name="Description" content="{:L(C('web_description'))}">
</head>
<link rel="stylesheet" href="__PUBLIC__/Home/ecshe_css/support.css">
<script type="text/javascript" src="__PUBLIC__/Home/ecshe_js/swiper-4.3.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/ecshe_js/jquery-1.12.0.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
<body>
	<header class="header">
		<div class="logo">
			<a href="/"><img src="__UPLOAD__/public/{:C('help_logo')}" /></a>
		</div>
		<div class="language">
			<php>if(LANG_SET=='zh-cn'){ $nm = '简体中文';}else{ $nm = 'English';}</php>
			<label>{:$nm}</label>
			<img class="arrow-down" src="__PUBLIC__/Home/ecshe_img/icon_arrow_support.png" />
		</div>
		<div class="language-box">
			<p><a href="{:U('?LANG=en-us')}">English</a></p>
			<p><a href="{:U('?LANG=zh-cn')}">简体中文</a></p>
		</div>
	</header>