<include file="Public:header_new" />

<style>
    .aply-desc {
        color: #666;

        font-size: 14px;
    }
    .aply-desc dd {
        margin-top: 10px;
    }
</style>
	<ul class="main-advert m-top100">
		<volist name="news_list1" id="vo">
			<li><a href="{:U('Article/detail','id='.$vo['id'])}">{$vo['title']|msubstr=0,17,'utf-8'}</a></li>
			<span>/</span>
		</volist>
		<li><a href="#">{:L("更多公告")}</a></li>
	</ul>
<div class="usernewout">
    
    <div class="usncont">
        <!-- 左侧导航 -->
        <include file="Ptpbc:left" />
        <!-- 右侧内容 -->
        <div class="usnc_right">
            <h1>{:L('ptpbc_apply_merchant_desc')}</h1>
            <div style="padding: 40px;">
                <dl class="aply-desc" style="float: left;">
                    <dt>{:L('优势')}:</dt>
                    <dd> - {:L('优质订单')}</dd>
                    <dd> - {:L('丰厚利差')}</dd>
                    <dd> - {:L('市场透明')}</dd>
                    <dd> - {:L('平台担保，有保障')}</dd>
                    <dd> - {:L('订单实时结算')}</dd>
                </dl>
                <dl class="aply-desc" style="float: right;">
                    <dt>{:L('申请发送邮箱至')}：support@artschain.com</dt>
                    <dd>{:L('提交材料包括')}：</dd>
                    <dd> - {:L('个人联系方式（手机号、微信号）')}</dd>
                    <dd> - {:L('手持身份证照')}</dd>
                    <dd> - {:L('数字资产拥有量及证明')}</dd>
                    <dd> - {:L('个人简介')}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
</div>
<include file="Public:footer" />