<div class="usnc_left">
    <div class="ulmenubox">
        <h4><img src="__PUBLIC__/Home/news/images/uswicon1.png">BTC</h4>
        <ul>
            <li id="btcbuy"><a href="{:U('Ptpbc/index/market/btc')}">{:L('我要买入')}</a></li>
            <li  id="btcsell"><a href="{:U('Ptpbc/index2/market/btc')}">{:L('我要卖出')}</a></li>
        </ul>

    </div>
     <div class="ulmenubox">
        <h4><img src="__PUBLIC__/Home/news/images/uswicon1.png">USDT</h4>
        <ul>
            <li id="usdtbuy"><a href="{:U('Ptpbc/index/market/usdt')}">{:L('我要买入')}</a></li>
            <li id="usdtsell"><a href="{:U('Ptpbc/index2/market/usdt')}">{:L('我要卖出')}</a></li>
        </ul>

    </div>
    <div class="ulmenubox">
        <h4><img src="__PUBLIC__/Home/news/images/uswicon1.png">发布交易</h4>
        <ul>
            <li id='push'><a href="{:U('Ptpbc/push')}">{:L('发布交易')}</a></li>
        </ul>

    </div>
</div>