<ul>
	<li><a id="menu_0" href="{:U('Finance/index')}">{:L('我的资产')}<i></i></a></li>
	<eq name="backstage" value="1">
		<li><a id="menu_10" href="{:U('Backstage/exchange')}"><b>{:L('我的后台')}</b><i></i></a></li>
	</eq>
	<eq name="backstage" value="2">
		<li><a id="menu_10" href="{:U('Backstage/super')}"><b>{:L('我的后台')}</b><i></i></a></li>
	</eq>
	<li><a id="menu_1" href="{:U('Finance/myzr')}">{:L('转入资产')}<i></i></a></li>
	<li><a id="menu_2" href="{:U('Finance/myzc')}">{:L('转出资产')}<i></i></a></li>
	<li><a id="menu_3" href="{:U('Finance/mywt')}">{:L('委托管理')}<i></i></a></li>
	<li><a id="menu_4" href="{:U('Finance/mycj')}">{:L('成交查询')}<i></i></a></li>
	
	<li><a id="menu_7" href="{:U('Finance/myfh')}">{:L('我的分红')}<i></i></a></li>
	
	<li><a id="menu_5" href="{:U('Finance/invite')}">{:L('邀请奖励')}<i></i></a></li>
	<li><a id="menu_6" href="{:U('User/index')}">{:L('安全中心')}<i></i></a></li>
</ul>