<include file="Public:header" />

<div id="main-content">

	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>

	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">交易挖矿配置</span>
		</div>

		<div class="tab-wrap">
			<div class="tab-content">
				<form id="form" action="{:U('Config/miningEdit')}" method="post" class="form-horizontal" >
					<div id="tab" class="tab-pane in tab">
						<div class="form-item cf">
							<table>
								<tr class="controls">
									<td class="item-label">交易挖矿开启 :</td>
									<td>
										<select class="form-control input-10x" name="mining_type">
											<option value="0" <eq name="C.mining_type" value="0">selected</eq>>关闭挖矿</option>
											<option value="1" <eq name="C.mining_type" value="1">selected</eq>>开启挖矿</option>
										</select>
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">交易挖矿赠送币种 :</td>
									<td>
										<select class="form-control input-10x" name="mining_coin">
											<volist name="C['xnb_list']" id="vo">
												<option value="{$vo['name']}" <eq name="vo['name']" value="$C['mining_coin']">selected</eq>> {$vo['title']}
												</option>
											</volist>
										</select>
									</td>
									<td class="item-note">根据手续费等值折算成，此处设置的币种</td>
								</tr>
								<tr class="controls">
									<td class="item-label">交易挖矿比例 :</td>
									<td><input type="text" class="form-control input-10x" name="mining_coin_num" value="{$C['mining_coin_num']}"></td>
									<td class="item-note">% 根据手续费换算成100%进行设置</td>
								</tr>
								<tr class="controls">
									<td class="item-label">交易挖矿总量 :</td>
									<td><input type="text" class="form-control input-10x" name="mining_toplimit" value="{$C['mining_toplimit']}"></td>
									<td class="item-note">* 全网发行总量（上限值）</td>
								</tr>

								<tr class="controls">
									<td class="item-label"></td>
									<td>
										<div class="form-item cf">
											<button class= "btn submit-btn ajax-post"  target-form="form-horizontal" id="submit" type="submit">提交</button>
											<a class="btn btn-return" href="{$Think.server.HTTP_REFERER}">返 回</a>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</form>

				<script type="text/javascript">
					//提交表单
					$('#submit').click(function(){
						$('#form').submit();
					});
				</script>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		//主导航高亮
		$('.config-box').addClass('current');
		//边导航高亮
		$('.config-contact').addClass('current');
	});
</script>

<include file="Public:footer" />