<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
	<title>{:L(C('web_title'))}</title>
	<include file="Public:head" />
</head>
<body>
<header class="mui-bar mui-bar-bg mui-bar-nav">
	<a class="mui-icon mui-icon-left-nav mui-pull-left" href="{:U('Finance/index')}"></a>
	<h1 class="mui-title color_white">{$coin_info['name']}</h1>
</header>

<div class="mui-content cur-padding-bottom" style="margin-top:30px;">
	<div class="coin-show-info">
		<div class="tl"><p class="title">可用({$coin_info['name']})</p><p>{$user_coin.xnb}</p></div>
		<div class="tc"><p class="title">冻结({$coin_info['name']})</p><p>{$user_coin.xnbd}</p></div>
		<div class="tr"><p class="title" style="text-transform:uppercase;">折合({:Anchor_CNY})</p><p>{$user_coin.zhehe}</p></div>
	</div>
	
	<div class="trade_record">
		<div class="titlehead">{:L('交易记录')}<a href="#" class="fr"><i class="iconfont icon-dingdan"></i>{:L('全部')}</a></div>
		<ul class="list-exchange">
			<volist name="list" id="vo">
				<li>
					<div class="column-info">
						<eq name="vo.otype" value="1">
							<h3 class="red">{:L('买入')}</h3>
						<else />
							<h3 class="green">{:L('卖出')}</h3>
						</eq>
						
						<span class="time">{$vo.addtime|date='Y-m-d H:i:s',###}</span>
						<eq name="vo.otype" value="1">
							<if condition="$vo.status eq 1">
								<span class="fr state blue"><i class="iconfont icon-shijian"></i>{:L('待支付')}</span>
							<elseif condition="$vo.status eq 2" />
								<span class="fr state blue"><i class="iconfont icon-shijian"></i>{:L('处理中')}</span>
							<elseif condition="$vo.status eq 3" />
								<span class="fr state green"><i class="iconfont icon-yinhangqia2"></i>{:L('支付成功')}</span>
							<elseif condition="$vo.status eq 8" />
								<span class="fr state red"><i class="iconfont icon-shanchu2"></i>{:L('已取消')}</span>
							<else />--</if>
							<span class="fr state"><a href="{:U('Exchange/payinfo',array('oid'=>$vo['id'],'aid'=>$vo['aid']))}">付款信息</a><s>|</s></span>
						<else />
							<if condition="$vo.status eq 1">
								<span class="fr state blue"><i class="iconfont icon-shijian"></i>{:L('待处理')}</span>
							<elseif condition="$vo.status eq 2" />
								<span class="fr state blue"><i class="iconfont icon-shijian"></i>{:L('处理中')}</span>
							<elseif condition="$vo.status eq 3" />
								<span class="fr state green"><i class="iconfont icon-yinhangqia2"></i>{:L('打款成功')}</span>
							<elseif condition="$vo.status eq 8" />
								<span class="fr state red"><i class="iconfont icon-shanchu2"></i>{:L('已取消')}</span>
							<else />--</if>
						</eq>
					</div>
					<div class="stream-info">
						<div class="tl"><p class="title">数量</p><p>{$vo.num}</p></div>
						<div class="tc"><p class="title">价格(CNY)</p><p>{$vo.uprice}</p></div>
						<div class="tr"><p class="title">实际成交(CNY)</p><p>{$vo.mum}</p></div>
					</div>
				</li>
			</volist>
		</ul>
	</div>
</div>

<nav class="mui-bar mui-bar-tab">
	<eq name="coin_info.zr_jz" value="1">
		<a class="mui-tab-item" id="menu_2" href="{:U('Finance/myzr',array('coin'=>$coin))}">
			<i class="mui-icon iconfont icon-jinbizhuanchu1"></i>
			<span class="mui-tab-label">{:L('充币')}</span>
		</a>	
	</eq>
	<eq name="coin_info.zc_jz" value="1">
		<a class="mui-tab-item" id="menu_3" href="{:U('Finance/myzc',array('coin'=>$coin))}">
			<i class="mui-icon iconfont icon-jinbizhuanchu"></i>
			<span class="mui-tab-label">{:L('提币')}</span>
		</a>
	</eq>
	<a class="mui-tab-item" id="menu_4" href="{:U('Trade/index',array('market'=>$coin.'_'.Anchor_CNY))}">
		<i class="mui-icon iconfont icon-jiaoyi3"></i>
		<span class="mui-tab-label">{:L('交易')}</span>
	</a>
</nav>

<script src="__PUBLIC__/Mobile/ecshe_js/mui.min.js"></script>
<script type="text/javascript">
	mui.init()
	mui('.mui-bar-tab').on('tap','a',function(){
		console.log(this.getAttribute('href'));
		location.href = this.getAttribute('href');
	})
</script>
</body>
</html>