<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public:header2" />
</head>
<body class="blackbg">
    <div id="container" class="logbg">
        <div class="log_title">
            <span class="back"><a href="javascript:history.go(-1)"></a></span>
            {:L('币种转出')}/{:L('币种列表')}
        </div>
        <ul class="tdlist">
            <volist name="coin_list" id="vo">
                <li>
                    <a href="/Finance/myzc/coin/{$vo['name']}">
                        <div class="xsltop">
                            <img src="/Upload/coin/{$vo['img']}">{:L($vo['title'])}({$vo['name']|strtoupper=###})
                        </div>
                    </a>
                </li>
            </volist>
        </ul>
    </div>
</body>
</html>